
<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="with=device-width , initial-scale=1.0">
    <title> Semester Project  </title>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Poppins:ital,wght@0,100;0,500;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   </head>

<body>

<section class="header">
    <nav>
   	<br> <br>
   <a href="index.html"> <img src="assets/images/box.png"></a>
   <div class="nav-links" id="navLinks">
   	<i class="fa fa-window-close" onclick="hideMenu()"></i>
   	<ul>
   		<li><a href="index.html">Home</a> </li>
   		<li><a href="assets/About (1).html" >About</a> </li>
   		<li><a href="assets/Branches (1).html">Outlets</a> </li>
   		<li><a href="">Contact</a> </li>
   		<li><a href="">Help</a> </li>
   	</ul>
   <i class="fa fa-bars" onclick="showMenu()" ></i>
   </div>
   </nav>

<div class="text-box">
   <h1> Pakistan Real Estate Company</h1> <br>
   <p>Real estate is property consisting of land and the buildings on it, along with its natural resources such as crops, minerals or water. </p>
 <p>By:</p> 
 <p style = "color: Pink">Kaynat Sajid   |   Urooj Fatima Raza   |   Zainab Ghauri</p>
   <a routerLink="/login" routerLinkActive="active" class="hero-btn"  >Visit to Know more</a>	
</div>
</section>


<section class="course">
   <h1>
   	 We are Now Dealing In 
   </h1>	
   <p>
   	 - State Apartment Management -
   </p>

   <div class="row">
   	  <div class="course-col">
   	  	<h3> Residential Real Estate </h3>
   	  	<p> 
          Includes both new construction and resale homes. The most common category is single-family homes. There are also condominiums, co-ops, 
          townhouses, duplexes, triple-deckers, quad lexes, high-value homes, multi-generational and vacation homes.
         </p>
   	  </div>

   	  <div class="course-col">
   	  	<h3>  Commercial Real Estate  </h3>
<p>
  includes shopping centers and strip malls, medical and educational buildings, hotels and offices. Apartment buildings are often 
  considered commercial, even though they are used for residences. That’s because they are owned to produce income.
</p>
   	  </div>

   	  <div class="course-col">
   	  	<h3>  Industrial Real Estate  </h3>
   	  	<p>includes manufacturing buildings and property, as well as warehouses. The buildings can be used for research, 
           production, storage, and distribution of goods. Some buildings that distribute goods are considered commercial real estate.  </p> </div>

   </div>
</section>


<section class="campus">
	<h1> Our Branches In Pakistan </h1>
	<P>  <i>We care for every customer , in every corner of Pakistan </i> </P>
    <div class="row">
    	<div class="campus-col">
    		<img src="assets/images/ibd.png" height="600px">
    		<div class="layer"> <h3> ISLAMABAD  </h3> </div>
    	</div>
    	<div class="campus-col">
    		<img src="assets/images/lahore.png" height="600px">
    		<div class="layer"> <h3> LAHORE </h3> </div>
    	</div>
    	<div class="campus-col">
    		<img src="assets/images/khi.png" height="600px">
    		<div class="layer"> <h3> KARACHI </h3> </div>
    	</div>
    </div>
</section>


<section class="testimonials">
	<h1>  Client Review </h1>
	<p> <i>Your Reviews , that matters the most </i> </p>
   
    <div class="row">
    	<div class="testimonial-col">
    		<img src="assets/images/user1.jpg">
    		<div><p>Satisfied.</p>
    		<h3>Christian Henry</h3>
    		<i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
    	</div>
    	</div>

    	 <div class="testimonial-col">
    		<img src="assets/images/user1.jpg">
    		<div><p>Trust worthy staff and good experience with them.</p>
    		<h3>David Byer</h3>
         	<i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
    	</div>
    	</div>
    </div>

       <div class="row">
    	<div class="testimonial-col">
    		<img src="assets/images/user1.jpg">
    		<div><p>Satisfied by the option suggested.</p>
    		<h3>Brent Foyd</h3>
    		<i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
    	</div>
    	</div>

    	 <div class="testimonial-col">
    		<img src="assets/images/user1.jpg">
    		<div><p>Fast Response and good service.</p>
    		<h3>Andrew Davilia</h3>
         	<i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
    	</div>
    	</div>
    </div>

 
</section>

<section class="location">
	
	<p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.553523044497!2d73.01217591484097!3d33.69462328070474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbe152e29e0e9%3A0xbe11759c47145240!2sKhaadi!5e0!3m2!1sen!2s!4v1619910858169!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>

    <h3> About Us </h3>
    <p class="aboutus"> Preventing further damage both from light/sun and the environment to our skin; <br>Keeping our skin glowing by optimizing , barrier function and cell turnover<br>, and minimizing irritation; Helping to repair past superficial damage to skin. </p>
</section>

</body>
</html>

<router-outlet></router-outlet>
