
<section class="header">
    <br> <br>
  
    <div class="welcomemsg"> Welcome you Have log in as an 'Admin' </div> <br> <br>
    <div class="buttonDiv"  *ngIf="showmenu" >
    <h2> Tasks You Can do As an Admin : </h2> <br> <br> 
    <button (click)="seeUser()">  See Users </button> <br> <br>
    <button (click)="seeUser()"> Register a New User </button> <br> <br>
    <button (click)="seeProperty()">  See Property </button> <br> <br>
    <button (click)="AssignAgent()">  Assign Agent To Sell Property </button> <br> <br>
    <button (click)="BanAgent()">  Ban Property </button> <br> <br>
    <button (click)="signOut()">  Sign Out </button> <br> <br>
    </div>
    
    
 </section>   