
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    line-height: auto;
}
 h1
 {
    color: wheat;
    font-size: 35px;
 }

 h2
 {
     color: white;
     font-size: 40px;
 }

 td img:hover
 {
     background-color:tomato;
     opacity: 0.5;
 }
 
.welcomemsg
{
    background-color:cornsilk;
    color: black;
    opacity: 0.6;
    font-size: 18px;
    font-weight: bold;
}


.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('images/makeup.jpg');
  background-size: cover;
  position: relative;
}

body {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDiv 
{
   background-color: transparent;
   border-radius: 10%;
   border-color: tomato;
   border-width: 10%;
   margin-top: 40px;
}

.buttonDiv button
{
    opacity: 0.8;
   align-items: center;
   justify-content: center;
   color: navy;
   font-size: 24px;
   width: 20%;
   height: 10vh;
}

.welcomemsg
{
    background-color:cornsilk;
    color: black;
    opacity: 0.6;
    font-size: 18px;
    font-weight: bold;
}
.buttonDiv button:hover
{
   align-items: center;
   justify-content: center;
   background-color: navy;
   color: white;
   transition: 0.8s;
}


.tablestruct
{
    opacity:0.5; 
    border: 10px;
    border-width: 10px;
    border-color: lightcoral;
    background-color: none;
    opacity: 1;
    align-content: center;
    align-items: center;
    margin-left: 310px;
    table-layout: auto;
    width: 60%;
    height: auto;
    line-height: 4;
    margin-top: 10px;
}

.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: 630px;
    background-color: beige;
    margin-top: 20px;
    height: auto;
}

.container .login-text {
    color:black;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-email .input-group {
    width: 100%;
    color:black;
    height: 50px;
    margin-bottom: 25px;
    text-align: left;
}

.container .login-email .input-group input {
    color:black;
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
    
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color:darkcyan;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background:cadetblue;
    border-color:darkcyan;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color:black;
    cursor: pointer;
    transition: .3s;
}
.addnewUser b
{
  color: crimson; 
  background-color:lavender;
  border-radius: 5px;
  font-size: 23px;
}
.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background:darkcyan;
    border-color:darkcyan;
    color: lemonchiffon;
}

.login-register-text {
    color: black;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color:brown;
}
.tablestruct th
{
  font-size: 20px;
}
.tablestruct tr:nth-child(odd) {
    background-color: lightsteelblue;
  }
  
.tablestruct tr:nth-child(even) {
    background-color  :lightyellow;
  }
